<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Experiment uncommenting some of the below appSettings -->
    <!-- <add key="NumberOfJobs" value="100" /> -->
    <!-- <add key="MaxDegreeOfParallelism" value="10" /> -->
    <!-- <add key="WorkerThreads" value="5" /> -->
    <add key="AlertFrom" value="support@test.com" />
    <add key="AlertRecipients" value="bob@test.com,  James@test.com, John.Doe@hotmale.com" />
    <add key="EmailSubject" value="Error while processing file" />
    <add key="EmailBody" value="An exception occured while processing file: {0}" />
  </appSettings>
</configuration>