<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AlertFrom" value="support@test.com" />
    <add key="AlertRecipients" value="bob@test.com,  James@test.com, John.Doe@hotmale.com" />
    <add key="EmailSubject" value="Error while processing file" />
    <add key="EmailBody" value="An exception occured while processing file: {0}" />
  </appSettings>
</configuration>